<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>

    <h2>Tipos De Producto</h2>
    <table>
        <thead>
            <tr>

                {% for columna in columnas %}
                    <th>{{ columna }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for dato in tipo_producto %}
            <tr>
                <td>{{ dato.id_tipo_producto }}</td>
                <td>{{ dato.nombre_tipo }}</td>
                <td>{{ dato.descripcion }}</td>
                <td>{{ dato.tasa_interes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>